/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #445537;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

header a:hover {
  text-decoration: underline;
}

/* Navigation menu */
nav {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

nav a {
  color: #8F6D55;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #445537;
}

/* Welcome section */
.welcome-image {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  background-color: #FFFFFF;
  color: #445537;
  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.welcome-message h1 {
  font-size: 48px;
  margin-bottom: 0;
}

/* About Me section */
.about-me {
  background-color: #FFFFFF;
  color: #445537;
  padding: 50px;
  text-align: center;
}

.about-me h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.about-me p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* Portfolio section */
.portfolio {
  background-color: #FFFFFF;
  color: #445537;
  padding: 50px;
  text-align: center;
}

.portfolio h2 {
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 20px;
}

.portfolio img {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease-in-out;
}

.portfolio img:hover {
  transform: scale(1.05);
}

/* Contact section */
.contact {
  background-color: #FFFFFF;
  color: #445537;
  padding: 50px;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact label {
  font-size: 20px;
  margin: 10px 0;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

