/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #A2AA9B;
}

/* Header Styles */
header {
  background-color: #3D6184;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: #A2AA9B;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  color: #FFFFFF;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

/* Main Content Styles */
main {
  background-color: #445537;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  background-color: #FFFFFF;
  padding: 40px;
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
section h1, section h2 {
  color: #74553A;
}
section p {
  color: #A2AA9B;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
button {
  background-color: #74553A;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #A2AA9B;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
