/* Header */
header {
  background-color: #445537;
  color: #A2AA9B;
  padding: 20px;
  text-align: center;
}

/* Navigation menu */
nav {
  background-color: #3D6184;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

nav a {
  color: #A2AA9B;
  text-decoration: none;
  font-size: 20px;
}

/* Welcome section */
.welcome-image {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.welcome-message {
  background-color: #74553A;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
}

.welcome-message h1 {
  font-size: 48px;
  margin-bottom: 0;
}

/* About Me section */
.about-me {
  background-color: #445537;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
}

.about-me h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.about-me p {
  font-size: 20px;
}

/* Portfolio section */
.portfolio {
  background-color: #3D6184;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
}

.portfolio h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.portfolio img {
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

/* Contact section */
.contact {
  background-color: #74553A;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact label {
  font-size: 20px;
  margin: 10px 0;
}

.contact input,
.contact textarea {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.contact button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #445537;
  color: #A2AA9B;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #A2AA9B;
  color: #445537;
}

