/* Header */
header {
  background-color: #445537;
  color: #A2AA9B;
  padding: 20px;
  text-align: center;
}

/* Navigation menu */
nav {
  background-color: #3D6184;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

nav a {
  color: #A2AA9B;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
  border-radius: 5px;
  padding: 10px;
}

nav a:hover {
  background-color: #A2AA9B;
  color: #3D6184;
}

/* Welcome section */
.welcome-image {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: inset 0px -40px 20px rgba(0, 0, 0, 0.2);
}

.welcome-message {
  background-color: #74553A;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.welcome-message h1 {
  font-size: 48px;
  margin-bottom: 0;
}

/* About Me section */
.about-me {
  background-color: #445537;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.about-me h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.about-me p {
  font-size: 20px;
}

/* Portfolio section */
.portfolio {
  background-color: #3D6184;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.portfolio h2 {
  font-size: 36px;
  margin-bottom: 0;
}

.portfolio img {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.portfolio img:hover {
  transform: scale(1.1);
}

/* Contact section */
.contact {
  background-color: #74553A;
  color: #A2AA9B;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 
